@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

html{
  background-color: #48a042;
}

body{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
  color: #fff;
}
